@import '../../variables.scss';

.flexContainer {
    display: flex;
    max-width: 788px;
    height: 121px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $borderDarkerColor;
    margin-top: 13px;
    padding: 14.8px 35px 34px 41px;

    :hover {
        cursor: pointer;
    }

    &_paragraph {
        color: $textGrey-200-Color;
    }

    &_btn {
        width: 246px;
        height: 46px;
        background-color: $secondaryColor;
        border: none;
        color: $whiteColor;
        margin-top: 18px;
    }
}
