@import '../../variables.scss';

.button {
    width: 13.125rem;
    height: 4.625rem;
    background-color: $primaryColor;
    border: none;
    border-radius: 5px;
    margin-top: 156px;
    margin-left: calc(1225px - 530px);
    color: $whiteColor;
    font-size: 23.71px;
    font-weight: 500;
    cursor: pointer;
}
