.button {
    width: 13.125rem;
    height: 4.625rem;
    background-color: #6B59D3;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 59.938rem;
    left: 63.375rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    
}  