@import '../../variables.scss';

.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.small {
    width: 11.313rem;
    height: 4rem;
}

.medium {
    width: 13.125rem;
    height: 4.625rem;
}

.large {
    width: 12.563rem;
    height: 4rem;
}

.primary {
    background-color: $primaryColor;
    color: $whiteColor;
    font-size: 1.482rem;
    font-weight: 500;
}

.secondary {
    background-color: $backwardColor;
    color: $textVeryDarkColor;
    font-size: 1.482rem;
}
