@import '../variables.scss';

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.servicesContainer {
    max-width: 1225px;
    padding:  117px 327.5px 0 164px;
}

.horizontalDivider {
    margin-top: 56px;
}