@import '../variables.scss';

.flexContainer {
    display: flex;
    justify-content: space-between;
}
.servicesContainer {
    max-width: 1225px;
    padding:  117px 285.5px 0 164px;
}

.headingSmall {
    font-size: $smallHeadingFont;
}

.horizontalDivider {
    margin-top: 46px;
}