@import '../variables.scss';

.servicesContainer {
    max-width: 76.563rem;
    padding-left: 10.25rem;
    padding-right: 10rem;
    padding-top: 7.313rem;
}

.cardsContainer {
    display: flex;
    margin-top: 78px;
    gap: 27.28px;
}

.button {
    margin-top: 156px;
    margin-left: calc(1225px - 530px);
}

.horizontalDivider {
    margin-top: 117px;
}

.radioBtn {
    position: absolute;
    top: 13px;
    right: 17px; 
}

