@import '../variables.scss';

.servicesContainer {
    max-width: 1225px; // 86.5rem;
    // padding: 7.333rem 10.625rem 10.5rem;
    padding-left: 164px;
    padding-right: 160px;
    padding-top: 117px;
}

.cardsContainer {
    display: flex;
    margin-top: 78px;
    gap: 27.28px;
}

.headingBig {
    font-size: $bigHeadingFont;
}

.button {
    margin-top: 156px;
    margin-left: calc(1225px - 530px);
}
