@import '../../variables.scss';

.pcContainer {
    position: absolute;
    top: 77.5px;
    left: 388.5px;
}

.ellipse {
    position: absolute;
    width: 41px;
    height: 41px;
}

.ellipse1 {
    top: 7px;
    left: 7px;
}

.ellipse2 {
    top: 142px;
    left: 7px;
}

.ellipse3 {
    top: 270px;
    left: 7px;
}
.ellipse4 {
    top: 398px;
    left: 7px;
}
.ellipse5 {
    top: 527px;
    left: 7px;
}

.rectangle {
    position: absolute;
    top: 54px;
    left: 26px;
}

.rectangle2 {
    position: absolute;
    top: 183px;
    left: 26px;
}

.rectangle3 {
    position: absolute;
    top: 310px;
    left: 26px;
}
.rectangle4 {
    position: absolute;
    top: 439px;
    left: 26px;
}
.stepCounter {
    color: $textGrey-100-Color;
    font-weight: 700;
    position: absolute;
}

.stepCounter1 {
    top: 16px;
    left: 22px;
}

.stepCounter2 {
    top: 151px;
    left: 22px;
}

.stepCounter3 {
    top: 279px;
    left: 22px;
}
.stepCounter4 {
    top: 406px;
    left: 22px;
}
.stepCounter5 {
    top: 536px;
    left: 22px;
}
