$blackColor: #000;
$whiteColor: #fff;

$primaryColor: #6b59d3;
$secondaryColor: #1DBE72;
$textDarkerColor: #2f3146;
$textDarkColor: #576072;
$textLightColor: #5f5f63;
$textLighterColor: #929292;

$borderLightColor: #e1e1e1;
$borderDarkColor: #dfdfdf;
$borderDarkerColor: #ededed;

$bigHeadingFont: 49.4px;
$smallHeadingFont: 44.5px;
