$blackColor: #000;
$whiteColor: #fff;        

$textDarkerColor: #2F3146;
$textDarkColor: #576072;
$textLightColor: #5F5F63;
$secondaryColor: #6B59D3;

$borderLightColor: #E1E1E1;
$borderDarkColor: #DFDFDF;
$borderDarkerColor: #EDEDED;

$bigHeadingFont: 49.4px;
$smallHeadingFont: 44.5px;  